.header {
    display: flex;
}

.header_left {
    display: flex;
    width: 50vw;
    /* margin: auto; */
    justify-content: space-around;
}

.header_right {
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
}

.filter_right {
    height: 100px;
    display: flex;
    width: 20vw;
    justify-content: right;
}
.filter_right2{
    width: 20vw;
}

.filter_right > div {
    margin-top: 30px;
    height: 26px;
    font-size: 14px;
    border-radius: 12px;
    width: 50px;
    display: flex;
    justify-content: center;
    background-color: #101010;
    color: white;
    outline: none;
    cursor: pointer;
}